.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text {
    font-family: "Nunito";
    font-size: 64px;
    font-weight: bold;
    margin-top: 164px;
    margin-bottom: 0px;
  }
  
  .details {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .gif img {
    width: 300px;
    height: auto;
  }

  .p{
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  .details{
    font-family: "Nunito";
  }
  
  .gif{
    width: 120px;
    height: 120px;
  }

  @media screen and (min-width: 768px) {
    .text {
      margin-top: 244px;
      font-size: 88px;
    }
    .details {
      font-size: 44px;
      margin-bottom: 20px;
    }
  }